.link:hover,
#dropdown:hover {
	color: whitesmoke;
}

.link,
#dropdown {
	color: #d0d6de;
	font-size: 1em;
	font-weight: bold;
}

.dropdown-item:focus {
	background-color: #ffffff26;
}

.navbar {
	background-color: #18181b;
}

.active {
	color: #f8f8f8 !important;
}
