.link:hover,
#dropdown:hover {
	color: whitesmoke;
}

.link,
#dropdown {
	color: #d0d6de;
	font-size: 1em;
	font-weight: bold;
}

.dropdown-item:focus {
	background-color: #ffffff26;
}

.navbar {
	background-color: #18181b;
}

.active {
	color: #f8f8f8 !important;
}

.link:focus-visible,
#dropdown:focus-visible {
	color: #f8f8f8 !important;
	box-shadow: none !important;
	border: 2px solid white !important;
	border-radius: 5px !important;
}

.dropdown-item:hover#usernameNavbar {
	background-color: transparent;
	margin: 0 auto;
	cursor: default;
}

#usernameNavbar {
	color: whitesmoke;
	font-weight: bold;
}
