.modalHeader {
	border: 0;
	font-family: "Maax Bold";
}

.modalHeader span {
	font-size: 1.9em;
	text-transform: uppercase;
}

.modalTitle {
	font-weight: bold;
}

.modalBody {
	border: 0;
}

.modalHeader,
.modalBody {
	padding-left: 20px;
}

.modalFooter {
	border: 0;
	font-size: 1.15em;
	padding-right: 0;
}

.reviewComment {
	height: 100px;
	min-width: 450px;
	max-width: 450px;
	box-shadow: none;
	border: 0;
}

.reviewComment:focus {
	height: 200px;
	box-shadow: none;
}

.mediaTitle {
	text-transform: capitalize;
}

.modalBtn {
	font-size: 0.8em;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
	text-transform: uppercase;
	font-weight: bold;
}

.textAreaError {
	box-shadow: none !important;
	background-image: none !important;
}

.error {
	width: 20em;
	color: #cf6679;
}
