.reviewMediaCard {
	max-width: 250px;
	max-height: 350px;
	overflow: hidden;
}

h2.mediaDetail {
	text-transform: capitalize;
	font-family: "Maax Bold";
	margin-bottom: 0.5em;
}

p.mediaDetail {
	font-size: 1.2em;
	margin-bottom: 0.5em;
	color: white;
}

.header {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 1.1em;
}

.divider {
	border: 1px solid #456;
}

.publishBtn {
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
	text-transform: uppercase;
	font-weight: bold;
}
